body {
  padding: 0 32px;
}

header {
  display: flex;
  justify-content: start;
  margin-bottom: 32px;
}

footer {
  display: flex;
  justify-content: start;
}

footer > * {
  margin-right: 16px;
}